#divv{
    border: 1px solid white;
    height: 80vh;
    display: block;
    width: 500px;
    transform: translateX(350px);
    animation: fadeIn 1s ease forwards;
}
body{
    background-image: url("../assert/A9016137.jpeg");
    color: aqua;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#resbt{
    border-radius: 10px;
    background-color: aqua;
}


#num2,#num1{
    border-radius: 10px;
    background-color:gold;
}

.sec{
    /* border: 1px solid black; */
    text-align: center;
    margin:30px;
}
#btn{
    
    /* border: 1px solid black; */
    text-align: center;
    margin:10px;
    padding: 30px;
    
}
.bt{
    margin:20px;
    border-radius: 10px;
    background-color: aqua;
    /* display: block; */
    /* animation: fadeIn 1s ease forwards; */
}

@keyframes fadeIn {
            from { opacity: 0; }
            to { opacity: 1; };
}

#display{
     /* border: 1px solid white; */
     height: 101.4vh;
     width: 100%;
     background-color: black;
     margin: -9px;
     position: absolute;
     top: 0px;
     display: none;
    

}
#dis{
    /* border: 1px solid white; */
    width: 300px;
    margin: 200px;
    transform: translateX(220px);
    text-align: center;
    /* display: none; */
    animation: fadeIn 1s ease forwards;
   
}
#rst{
    text-decoration: none;
    padding: 15px;
}


